.profile__bottons {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile__bottons:hover {
  opacity: .6;
}

@media screen and (max-width: 920px) and (min-width: 581px) {
  .profile__bottons {
    padding-top: 40px;
  }
}

@media screen and (min-width: 320px) and (max-width: 580px) {
  .profile__buttons {
    width: 100%;
  }
}