.popup__inputs{
  max-width: 358px;
  display: flex;
  flex-direction: column;
  margin: auto;
}

@media screen and (min-width: 320px) and (max-width: 580px) {    
  .popup__inputs{
    max-width: 238px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}