.element__button-like {
  width: 22px;
  height: 19px;
  cursor: pointer;
}

.element__button-like:disabled {

}

.element__button-like:hover {
  opacity: .5;
}

.element__button-like:active {
  background-color: #000;
}